@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">This is a simple weather forecast web application using asp.net MVC for back-end , also used Jquery,Ajax to consume a third-party json format api embedded with html.</p>
    <p><a href="weather" class="btn btn-primary btn-lg">Go &raquo;</a></p>
</div>

